.game_board_container {
  background: radial-gradient(var(--bgd-radial-gradient1), var(--bgd-radial-gradient2));
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.img_logo {
  width: 100px;
}

.game_head_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--header-outline);
  border-radius: 5px;
  width: 100%;
  height: 80px;
  /* margin: 10%; */
  padding: 15px;
}

.score_container {
  background-color: var(--rules-bg-color);
  width: 60px;
  height: 60px;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.text_score {
  color: var(--text-score);
  text-transform: uppercase;
}

.text_score_num {
  color: var(--text-dark);
  font-size: 2.5rem;
  font-weight: bold;
}

.row_top,
.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.row {
  margin-top: 20px;
}

.row_bottom {
  width: 50%;
  margin: 25px auto 100px auto;
}

.choice_icon {
  background-color: #e5e5e5;
  width: 120px;
  height: 120px;
  border: 10px solid;
  border-radius: 50%;
  margin: 0 auto;
}

.choice_icon img {
  position: relative;
  left: 35px;
  top: 35px;
}

.paper_icon {
  border-color: var(--paper-gradient1);
}

.scissors_icon {
  border-color: var(--scissors-gradient1);
}

.rock_icon {
  border-color: var(--rock-gradient1);
}

.icon_left {
  margin-right: 25px;
}

.icon_right {
  margin-left: 25px;
}

.icon_bottom {
  margin-top: 25px;
}

.choice_caption {
  width: 140px;
  height: 50px;
  color: #fff;
  text-align: center;
}

.choice_caption:nth-of-type(1) {
  margin-right: 25px;
}

.choice_caption:nth-of-type(2) {
  margin-left: 25px;
}

.center {
  text-align: center;
}

.text_outcome {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 700;
}