.modal_container {
  background-color: var(--rules-bg-color);
  position: relative;
  z-index: 10;
  min-height: 100vh;
  padding: 70px auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}